// module 'Mod Subcontent2'
.mod-subcontent2 {
    padding: 30px;
    .indam {
        font-weight: bolder;
        color: rgb(54, 131, 61);
    }
    .rules {
        width: fit-content;
        font-style: italic;
    }
}